<h1>Your Account</h1>
<ol>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ol>
<h2>Events Created</h2>
<ol>
  <% @user_events.each do |event| %>
    <li>Name: <%= event.name %><br>
      Date: <%= event.date %></li>
    <br>
  <% end %>
</ol>
<% if session[:user_id] == @user.id %>
  <%= link_to 'Create new event', new_event_path %>
<% end %>
